@import "../styles/variables";

.sun {
  border-radius: 100%;
  background-color: $secondcolor;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
p {
  font-size: 22px;
  font-weight: 300;
}
